body{
  background-color: lightblue!important; 
}

.container>h1{
  color: white;
  text-align: center;
}

.box{
  height: 80px;
  width: 80px !important;
  background-color: pink;
  border: 1px solid white;
  color: white;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fizz{
  background-color: lightsalmon;
}

.buzz{
  background-color: lightgreen;
}

.fizzbuzz{
  background-color: lightskyblue;
}